@{
    ViewData["Title"] = "Home Page";
    string intro = "<h2>";
    string welcomeGuest = "My name is Aaron Sierra";
    string last = "</h2>";
}


<div class="introduction-section">
    <h2 class="introduction-welcome">Welcome</h2>

    <h3 id="self" class="introduction-self">@intro</h3>
    <h3 id="para" class="introduction-paragraph">@welcomeGuest &#128521;</h3>
    <h3 id="last" class="introduction-last">@last</h3>
</div>