@{
    ViewData["Title"] = "Home Page";
    string intro = "<p>My name is Aaron Sierra</p>";
}


<div class="introduction-section">
    <h2 class="introduction-welcome">Welcome</h2>
    <h3 class="introduction-self">@intro</h3>
</div>