
.div-container{
    width:100%;
}

.img-poster{

    width:50%;
    height:500px;

    background-image:linear-gradient(
        rgba(34,34,34,0.6),
        rgba(34,34,34,0.6)
     ),
         url(/images/two.png);

     background-size:cover;
}

.img-second-poster {
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    height: 500px;
    background-image: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6) ), url(/images/first.png);
    background-size: cover;
}