
.div-container{
    width:100%;
}

.img-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 500px;
    background-image: url(/images/two.png);
    background-size: cover;
}

.img-poster:hover {
    width: 50%;
    height: 500px;
    background-image: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6) ), url(/images/two.png);
    background-size: cover;
}

.img-second-poster {
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    height: 500px;
    background-image:url(/images/first.png);
    background-size: cover;

}

.img-second-poster:hover{
    width: 50%;
    height: 500px;
    background-image: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6) ), url(/images/first.png);
    background-size: cover;
}

/*background-image: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6) ), url(/images/first.png);*/

/*BUTTON ------------------------------------------------*/

.hidden{
    display:none;
}

.btn-soft-skills{
    position:absolute;
    top:250px;
    left: 250px;
    border-radius:10px;
    border-color:transparent;
    background-color:white;
    padding:5px 35px 5px 35px;
}

.btn-technical-skills{
    position:absolute;
    top:250px;
    right:250px;
    border-radius:10px;
    border-color:transparent;
    background-color:white;
    padding:5px 35px 5px 35px;
}

.div-soft{
    position:absolute;
    top:50px;
    left:70px;
    background-color:white;
    width:400px;
    height:350px;
    margin-top:28px;
    margin-left:40px;
    z-index:10;
}