html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #DFC8A7;
}

/*-----------------------------------------------------CUSTOM CSS*/

.introduction-welcome {
    position:relative;
    left:40px;
    top:40px;
    color: #fff;
    font-size: 80px;
    font-family: 'Work Sans', sans-serif;
    animation: welcome 3s 1;
}

.introduction-self {
    display: inline-block;
    margin-top:90px;
    margin-left:60px;
    width: auto;
    overflow: hidden;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    border-right: .15em solid transparent;
    white-space: nowrap;
    animation: typing 3s steps(55), blink-caret 3s;
}

@keyframes typing {
    from {       
        max-width:0;
    }

    to {
        max-width: 75%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: orange
    }
}


@keyframes welcome {
    from {
        top: 0px;
    }

    to {
        top: 40px;
    }
}

@-webkit-keyframes welcome {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}


.introduction-paragraph {
    display: block;
    margin-top: 90px;
    margin-left: 60px;
    width: auto;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    border-right: .15em solid transparent;
    white-space: nowrap;
    animation: typingSecond 3s steps(55), blink-caret 3s;
}

@keyframes typingSecond {
    from {
        max-width: 0;
    }

    to {
        max-width: 85%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: orange
    }
}