html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #DFC8A7;
}

/*-----------------------------------------------------CUSTOM CSS*/

/*.introduction-section{
    margin:0 auto;
    margin-top:80px;
    height:85vh;
    width:70vw;
    background-color:#fff;
    border-radius:10px;

    background-image: linear-gradient(
            rgba(34, 34, 34, 0.6),
            rgba(34,34,34,0.6)
        ),
        url(/images/back.jpg);
    background-size:cover;
}*/

.introduction-welcome {
    position:relative;
    left:40px;
    top:100px;
    color: #fff;
    font-size: 80px;
    font-family: 'Work Sans', sans-serif;
    animation: welcome 3s 1;
}

.introduction-self {
    display: inline-block;
    width: auto;
    overflow: hidden;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    border-right: .15em solid transparent;
    white-space: nowrap;
    animation: typing 5s steps(55), blink-caret 5s;
    -webkit-animation-delay:3s;
    animation-delay:3s;
}

@keyframes typing {
    from {       
        max-width: 0;
    }

    to {
        max-width: 75%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: orange
    }
}


/*.introduction-self {
    visibility: hidden;
    position: relative;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    left: 60px;
    top: 130px;
    animation: self 0s ease-in 3s forwards;
}*/

/*@keyframes self {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes self {
    to {
        visibility: hidden;
    }
}*/

@keyframes welcome {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}

@-webkit-keyframes welcome {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}

/*.img{
    height:50vh;
    border-radius:10px;
    margin-left:30px;
    margin-top:40px;
}*/