

<div class="div-container">
    <div>
        <div class="img-poster">
            <button id="btn-soft" class="btn-soft-skills hidden">Soft Skills</button>
            <div class="div-soft hidden">
            <p>
                Problem-Solving
                Communication
                Leadership and Organisational
                Multi-tasker
                Team player
                Goal-oriented
            </p>
        </div>
        </div>

        

    </div>
    <div class="img-second-poster">
        <button id="btn-tech" class="btn-technical-skills hidden">Technical Skills</button>
    </div>

</div>