

<div class="div-container">
    <div>
        <div class="img-poster">
            
        </div>
        <button id="btn-soft" class="btn-soft-skills hidden">Soft Skills</button>
    </div>
    <div class="img-second-poster">

    </div>
    <button id="btn-tech" class="btn-technical-skills hidden">Technical Skills</button>
</div>